= link_to "New Album", new_album_path

%div
  My Albums
  - @albums.each do |album|
    %p
      = link_to album.name, album_path(album)
    %p
      = album.created_at
    %p
      = album.user.name
%div
  Other's Albums
  - @others_albums.each do |album|
    %p
      = link_to album.name, album_path(album)
    %p
      = album.created_at
    %p
      = album.user.name